@import 'tailwindcss';
@import url('https://api.fontshare.com/v2/css?f[]=author@300,400,600&display=swap');

:root {
	--dark-grey: #0D1117;
	--light-grey: #C9D1D9;
  --dark-void: #161B22;
  --vivid-blue: #58A6FF;
  
  --primary-font: 'Author', sans-serif;
}

@theme inline {
	--color-background: var(--dark-grey);
	--color-foreground: var(--light-grey);
	--font-sans: var(--primary-font);
	--shadow-stripe-xl: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0D1117;
		--foreground: #C9D1D9;
	}
}

body {
	background: var(--dark-grey);
	color: var(--light-grey);
	font-family: var(--primary-font);
}
